.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.photo-container ul li {
  width: 20%;
  overflow: hidden;
  margin-bottom: 20px;
}

.photo-container ul img {
  width: 80%;
  transform: scale(1);
  transition: transform 1.25s;
}

.photo-container li:hover img {
  transform: scale(1.15);
}

.breadcrumb-title {
  color: #000000;
  font-weight: 400;
}

.all-product-text {
  color: #000000;
  font-family: 'Roboto';
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.all-product-count {
  font-weight: 300;
  color: #878787;
}

p.price{
margin-top: 10px;
font-weight: 600;
font-family: 'Roboto', sans-serif;
font-size: 16px;
}

p.title {
  padding: 0 !important;
  margin: 0 !important;
  color: #878787;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 202px;
  height: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
}
.heading-margin {
  margin: 10px 40px;
}

.breadcrumb-wrap {
  color: #878787;
  font-size: 13px;
}

.compared-price {
  display: inline;
  color: #878787;
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  padding-left: 9px;
}
.price-wrap {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.percentage {
  color: red;
}

.product-details {
  margin-top: 42px;
}

h3.vendor {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.icon-padding {
  padding: 10px 14px;
}

.options-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filter-text {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.filter-allproduct-option {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  border: 1px solid #C4C4C4;
  padding: 11px;
  margin: 4px;
  box-sizing: border-box;
  border-radius: 72px;
  text-transform: capitalize;
  cursor: pointer;
}
.filter-allproduct-option-text {
  color: #000000;
}

.filter-tag {
  font-size: 12px;
  font-style: normal;
  color: #878787;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  border: 1px solid #C4C4C4;
  padding: 11px;
  margin: 4px;
  box-sizing: border-box;
  border-radius: 72px;
  text-transform: capitalize;
  cursor: pointer;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.active {
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  font-weight: 400;
  padding: 14px 16px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  font-size: 14px;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header-inner-wrap {
  display: flex;
  justify-content: space-between;
}